* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: aliceblue;
}
header nav ul li {
  margin: 0 10px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  justify-content: space-around;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
header nav ul li a:hover {
  color: orange;
}

h1 {
  text-align: center;
  margin: 20px;
}

.tarjetas {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.tarjetas p h3 {
  text-align: center;
}
.tarjetas p h3 img {
  max-width: 400px;
  margin: 15px;
}

.textoprincipal {
  text-align: center;
  margin: 35px;
}
.textoprincipal p {
  font-size: 25px;
}

menu {
  margin-left: 75px;
}
menu li {
  margin: 5px;
}

.main {
  border: 1px solid black;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 200);
  gap: 10px;
  grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area8 area9" "area10 area11 area12" "area13 area14 area15";
}
.main img {
  width: 100%;
  height: 100%;
}

.area {
  border: 1px solid black;
}

#area1 {
  background-color: #ff5733;
  grid-area: area1;
}

#area2 {
  background-color: #ff5733;
  grid-area: area2;
}

#area3 {
  background-color: #ff5733;
  grid-area: area3;
}

#area4 {
  background-color: #ff5733;
  grid-area: area4;
}

#area5 {
  background-color: #ff5733;
  grid-area: area5;
}

#area6 {
  background-color: #ff5733;
  grid-area: area6;
}

#area7 {
  background-color: #ff5733;
  grid-area: area7;
}

#area8 {
  background-color: #ff5733;
  grid-area: area8;
}

#area9 {
  background-color: #ff5733;
  grid-area: area9;
}

#area10 {
  background-color: #ff5733;
  grid-area: area10;
}

#area11 {
  background-color: #ff5733;
  grid-area: area11;
}

#area12 {
  background-color: #ff5733;
  grid-area: area12;
}

#area13 {
  background-color: #ff5733;
  grid-area: area13;
}

#area14 {
  background-color: #ff5733;
  grid-area: area14;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  margin-top: 50px;
}

.info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 15px;
}
.info a {
  text-decoration: none;
  color: black;
}
.info a:hover {
  color: orange;
}

.img-propia {
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .main {
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 200px);
    gap: 10px;
    grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area8 area9" "area10 area11 area12" "area13 area14";
  }
}
@media (max-width: 320px) {
  .main {
    border: 1px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 150px);
    gap: 10px;
    grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6" "area7" "area8" "area9" "area10" "area11" "area12" "area13" "area14";
  }
}

/*# sourceMappingURL=style.css.map */
